@import "variables.scss";

@font-face {
  font-family: 'Roboto';
  src:
    url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

 body{
  background-color: $color-background-primary;
  color: $color-text-primary;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}